[Desktop Entry]
Name=Nvimboat
Exec=nvim -c "Nvimboat enable" .nvimboat
Icon=/usr/share/icons/Papirus-Dark/symbolic/mimetypes/application-rss+xml-symbolic.svg
Terminal=true
Type=Application
